.wrapper
  = render "top-bar"
.portfolio
  .portfolio__box
    .portfolio__box__main
      .content-box
        = link_to aibot_items_path do
          .content-link
            AiBot
            .content-box-info
              _Aibot_
              %br
              Line Botアプリです。
              %br
              時間記録機能
              %br
              時間通知機能搭載
              %br
              使用言語：Python
        .content-img
          = image_tag '/images/aibot-img.png', size:'350x300', class: "portfolio-photo-img"
        
      .content-box
        = link_to favo_items_path do
          .content-link
            FAVO
            .content-box-info-1
              これがFAVOです
              %br
              試作機です
        .content-img
          = image_tag '/images/favo-img.jpg', size:'350x300', class: "portfolio-photo-img"
        
    .portfolio__box__main
      .content-box
        = link_to chatSpace_items_path do
          .content-link
            Chat Space
            .content-box-info
              これがAibotです
              %br
              試作機です
        .content-img
          = image_tag '/images/chat-space.png', size:'350x300', class: "portfolio-photo-img"
      .content-box
        = link_to fleaMarket_items_path do
          .content-link
            Free Market
            .content-box-info-1
              これがFlee Marketです
              %br
              試作機です
        .content-img
          = image_tag '/images/flea-market-img.jpg', size:'350x300', class: "portfolio-photo-img"
        
.wrapper
  = render "bottom-bar"