-# .head-bar
-#   .head-bar__logo
-#     %a Portfolio
.wrapper
  = render "top-bar"
.profile-box
  .profile-box-link
    -# = link_to profile_items_path do
    KAZUYA IGARASHI
  .profile-box-main
    .profile-box-main-photo
      = image_tag '/images/IMG_1890.jpeg', size:'350x270',class: "profile-photo-img", alt:"画像を表示出来ません" 
    .profile-box-main-text
      .profile-box-main-text-main
        __生い立ち__
        %br
        1989年　東京都で生まれ、大学卒業まで神奈川県で育つ。
        %br
        2013年 3月　日本大学経済学部卒
        %br
        2013年 4月　株式会社コシダカ入社
        %br
        2020年 5月　株式会社コシダカを退社
        %br
        2020年 6月　プログラミングスクール「テックキャンプ」で学習開始
        %br
        現在　　サービス業出身未経験エンジニアとして就職活動中！
        %br
        %br
        趣味　テニス、釣り、卓球
        %br
        　　　アニメ、ゲーム、麻雀、etc。。。
        %br
        ーーーーーーーーーーーーーーーーーーーー
        %br
        開発実績　Githubへのリンクはこちら
        %br
        = link_to "https://github.com/MItsusawa-5" do
          https://github.com/MItsusawa-5
        
.portfolio
  .portfolio__box
    .portfolio__box__main
      .content-box
        = link_to aibot_items_path do
          .content-link
            AiBot
            .content-box-info
              これがAibotです
              %br
              試作機です
        .content-img
          = image_tag '/images/aibot-img.png', size:'400x350', class: "portfolio-photo-img"
        
      .content-box
        = link_to favo_items_path do
          .content-link
            FAVO
            .content-box-info-1
              これがFAVOです
              %br
              試作機です
        .content-img
          = image_tag '/images/favo-img.jpg', size:'400x350', class: "portfolio-photo-img"
        
    .portfolio__box__main
      .content-box
        = link_to chatSpace_items_path do
          .content-link
            Chat Space
            .content-box-info
              これがAibotです
              %br
              試作機です
        .content-img
          = image_tag '/images/chat-space.png', size:'400x350', class: "portfolio-photo-img"
      .content-box
        = link_to fleaMarket_items_path do
          .content-link
            Flee Market
            .content-box-info-1
              これがFlee Marketです
              %br
              試作機です
        .content-img
          = image_tag '/images/flea-market-img.jpg', size:'400x350', class: "portfolio-photo-img"
        
.wrapper
  = render "bottom-bar"